jpstgfasbeadf01/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "jpstgfasbeadf01"
		},
		"JPSTGPMSAPDB01_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'JPSTGPMSAPDB01'"
		},
		"ln_JPSTGPMSAPDB01_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ln_JPSTGPMSAPDB01'"
		},
		"ln_jpdevfasbedb01_ModelDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ln_jpdevfasbedb01_ModelDB'"
		},
		"ln_jpdevfasbedb01_ModelDBv3_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ln_jpdevfasbedb01_ModelDBv3'"
		},
		"ln_jpstgfasbedb01_ModelDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ln_jpstgfasbedb01_ModelDB'"
		},
		"ln_jpstgfasbedb01_ModelDB_ReadOnly_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ln_jpstgfasbedb01_ModelDB_ReadOnly'"
		},
		"ln_jpstgfasbedb01_ModelDBv3_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ln_jpstgfasbedb01_ModelDBv3'"
		},
		"JPSTGPMSAPDB01_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jpstgpmsapdb01"
		},
		"JPSTGPMSAPDB01_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ModelDB"
		},
		"JPSTGPMSAPDB01_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "fasreadonly"
		},
		"ln_AzureBlobStorage1_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://fasbestgdata01.blob.core.windows.net/"
		},
		"ln_JPSTGPMSAPDB01_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "JPSTGPMSAPDB01"
		},
		"ln_JPSTGPMSAPDB01_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ModelDB"
		},
		"ln_JPSTGPMSAPDB01_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "fasreadonly"
		},
		"ln_jpdevfasbedb01_ModelDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jpdevfasbedb01.database.windows.net"
		},
		"ln_jpdevfasbedb01_ModelDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ModelDB"
		},
		"ln_jpdevfasbedb01_ModelDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "jeraadmin"
		},
		"ln_jpdevfasbedb01_ModelDBv3_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jpdevfasbedb01.database.windows.net"
		},
		"ln_jpdevfasbedb01_ModelDBv3_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ModelDBv3"
		},
		"ln_jpdevfasbedb01_ModelDBv3_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "jeraadmin"
		},
		"ln_jpstgfasbedb01_ModelDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jpstgfasbedb01.database.windows.net"
		},
		"ln_jpstgfasbedb01_ModelDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ModelDB"
		},
		"ln_jpstgfasbedb01_ModelDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "jeraadmin"
		},
		"ln_jpstgfasbedb01_ModelDB_ReadOnly_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jpstgfasbedb01.database.windows.net"
		},
		"ln_jpstgfasbedb01_ModelDB_ReadOnly_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ModelDB"
		},
		"ln_jpstgfasbedb01_ModelDB_ReadOnly_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "fas_stg_be_readonly"
		},
		"ln_jpstgfasbedb01_ModelDBv3_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jpstgfasbedb01.database.windows.net"
		},
		"ln_jpstgfasbedb01_ModelDBv3_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "ModelDBv3"
		},
		"ln_jpstgfasbedb01_ModelDBv3_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "jeraadmin"
		},
		"ep_jpstgpmsapdb01_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/40d0025b-b057-42a4-9ed8-f038512f9cfc/resourceGroups/FAS-Stg/providers/Microsoft.Network/privateLinkServices/jpstgfasilb01-pls"
		},
		"ep_jpstgpmsapdb01_properties_groupId": {
			"type": "string",
			"defaultValue": ""
		},
		"ep_jpstgpmsapdb01_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"jpstgpmsapdb01.jera.co.jp"
			]
		},
		"pl_adf_fasbestgdata01_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/40d0025b-b057-42a4-9ed8-f038512f9cfc/resourceGroups/FAS-BE-Stg/providers/Microsoft.Storage/storageAccounts/fasbestgdata01"
		},
		"pl_adf_fasbestgdata01_properties_groupId": {
			"type": "string",
			"defaultValue": "blob"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Fas-Be-Dev_Fas-Be-Stg_DB-DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "jpdevfasbedb01_jpstgfasbedb01_FcstAvailability",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ForwardForex",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ForwardForex_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ForwardForex')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ForwardForex_fas_stg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Fas-Be-Stg_Fas-Be-Stg_Blob-DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_Fas_Be_Stg_Blob_ModelDB_FcstAvailability",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.12:00:00",
							"sleep": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Be_Stg_Blob_ModelDB_FcstAvailability')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Fas-Stg_Fas-Be-Dev_DB-DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pl_jpstgpmsapdb01_jpstgfasbedb01_FcstAvailability",
				"activities": [
					{
						"name": "FcstAvailability_FcstAvailability_fas_stg",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FcstAvailability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDBv3_FcstAvailability_fas_be_dev",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FcstAvailability')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDBv3_FcstAvailability_fas_be_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Fas-Stg_Fas-Be-Dev_ModelDB_DB-DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pl_jpstgpmsapdb01_jpstgfasbedb01_FcstAvailability",
				"activities": [
					{
						"name": "FcstAvailability_FcstAvailability",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ActualValueHydroRefined_ActualValueHydroRefined",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:12:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FcstAvailability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_FcstAvailability_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ActualSpotPrice_ActualSpotPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ActualValue_ActualValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ActualSpotPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ActualSpotPrice_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ActualValue_ActualValue",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ActualValue",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ActualValue_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ActualValueHydroRefined_ActualValueHydroRefined",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ActualSpotPrice_ActualSpotPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ActualValueHydroRefined",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ActualValueHydroRefined_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FcstDemand_FcstDemand",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FcstAvailability_FcstAvailability",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FcstDemand",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_FcstDemand_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FcstInterConnection_FcstInterConnection",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FcstDemand_FcstDemand",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FcstInterConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_FcstInterConnection_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ForwardForex_ForwardForex",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FcstInterConnection_FcstInterConnection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ForwardForex",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ForwardForex_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ForwardPrice_ForwardPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ForwardForex_ForwardForex",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ForwardPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ForwardPrice_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FwHistCommodity_FwHistCommodity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ForwardPrice_ForwardPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FwHistCommodity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_FwHistCommodity_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GenPlan_GenPlan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FwHistCommodity_FwHistCommodity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_GenPlan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_GenPlan_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "HistAvailability_HistAvailability",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GenPlan_GenPlan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_HistAvailability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_HistAvailability_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "HistInterface_HistInterface",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "HistAvailability_HistAvailability",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_HistInterface",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_HistInterface_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "JepxAreaPrice_JepxAreaPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "HistInterface_HistInterface",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_JepxAreaPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_JepxAreaPrice_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "JepxSummary_JepxSummary",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "JepxAreaPrice_JepxAreaPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_JepxSummary",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_JepxSummary_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MasterGenV4_MasterGenV4",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "JepxSummary_JepxSummary",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_MasterGenV4",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_MasterGenV4_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "OcctoUnitGen_OcctoUnitGen",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MasterGenV4_MasterGenV4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_OcctoUnitGen",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_OcctoUnitGen_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FcstAvailability')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_FcstAvailability_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ActualSpotPrice')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ActualSpotPrice_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ActualValue')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ActualValue_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ActualValueHydroRefined')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ActualValueHydroRefined_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FcstDemand')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_FcstDemand_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FcstInterConnection')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_FcstInterConnection_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ForwardForex')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ForwardForex_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ForwardPrice')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ForwardPrice_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FwHistCommodity')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_FwHistCommodity_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_GenPlan')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_GenPlan_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_HistAvailability')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_HistAvailability_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_HistInterface')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_HistInterface_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_JepxAreaPrice')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_JepxAreaPrice_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_JepxSummary')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_JepxSummary_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_MasterGenV4')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_MasterGenV4_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_OcctoUnitGen')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_OcctoUnitGen_fas_stg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Fas-Stg_Fas-Be-Stg_ModelDB_DB-DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pl_jpstgpmsapdb01_jpstgfasbedb01_FcstAvailability",
				"activities": [
					{
						"name": "FcstAvailability_FcstAvailability",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ActualValueHydroRefined_ActualValueHydroRefined",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:12:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FcstAvailability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_FcstAvailability_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ActualSpotPrice_ActualSpotPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ActualValue_ActualValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ActualSpotPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ActualSpotPrice_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ActualValue_ActualValue",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ActualValue",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ActualValue_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ActualValueHydroRefined_ActualValueHydroRefined",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ActualSpotPrice_ActualSpotPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ActualValueHydroRefined",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ActualValueHydroRefined_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FcstDemand_FcstDemand",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FcstAvailability_FcstAvailability",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FcstDemand",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_FcstDemand_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FcstInterConnection_FcstInterConnection",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FcstDemand_FcstDemand",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FcstInterConnection",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_FcstInterConnection_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ForwardForex_ForwardForex",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FcstInterConnection_FcstInterConnection",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ForwardForex",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ForwardForex_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ForwardPrice_ForwardPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ForwardForex_ForwardForex",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ForwardPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_ForwardPrice_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FwHistCommodity_FwHistCommodity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ForwardPrice_ForwardPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FwHistCommodity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_FwHistCommodity_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GenPlan_GenPlan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FwHistCommodity_FwHistCommodity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_GenPlan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_GenPlan_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "HistAvailability_HistAvailability",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GenPlan_GenPlan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_HistAvailability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_HistAvailability_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "HistInterface_HistInterface",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "HistAvailability_HistAvailability",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_HistInterface",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_HistInterface_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "JepxAreaPrice_JepxAreaPrice",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "HistInterface_HistInterface",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_JepxAreaPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_JepxAreaPrice_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "JepxSummary_JepxSummary",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "JepxAreaPrice_JepxAreaPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_JepxSummary",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_JepxSummary_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MasterGenV4_MasterGenV4",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "JepxSummary_JepxSummary",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_MasterGenV4",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_MasterGenV4_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "OcctoUnitGen_OcctoUnitGen",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "MasterGenV4_MasterGenV4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_OcctoUnitGen",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDB_OcctoUnitGen_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FcstAvailability')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_FcstAvailability_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ActualSpotPrice')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ActualSpotPrice_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ActualValue')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ActualValue_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ActualValueHydroRefined')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ActualValueHydroRefined_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FcstDemand')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_FcstDemand_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FcstInterConnection')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_FcstInterConnection_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ForwardForex')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ForwardForex_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ForwardPrice')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_ForwardPrice_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FwHistCommodity')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_FwHistCommodity_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_GenPlan')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_GenPlan_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_HistAvailability')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_HistAvailability_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_HistInterface')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_HistInterface_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_JepxAreaPrice')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_JepxAreaPrice_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_JepxSummary')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_JepxSummary_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_MasterGenV4')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_MasterGenV4_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_OcctoUnitGen')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDB_OcctoUnitGen_fas_stg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Fas-Stg_Fas-Be-Stg_ModelDBv3_DB-DB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "pl_jpstgpmsapdb01_jpstgfasbedb01_FcstAvailability",
				"activities": [
					{
						"name": "FcstAvailability_FcstAvailability",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ActualSpotPrice_ActualSpotPrice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:12:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_FcstAvailability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDBv3_FcstAvailability_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ActualSpotPrice_ActualSpotPrice",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ActualSpotPrice",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDBv3_ActualSpotPrice_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ActualValue_ActualValue",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FcstAvailability_FcstAvailability",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Fas_Stg_DB_ModelDB_ActualValue",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dt_Fas_Be_Stg_DB_ModelDBv3_ActualValue_fas_stg",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_FcstAvailability')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDBv3_FcstAvailability_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ActualSpotPrice')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDBv3_ActualSpotPrice_fas_stg')]",
				"[concat(variables('factoryId'), '/datasets/ds_Fas_Stg_DB_ModelDB_ActualValue')]",
				"[concat(variables('factoryId'), '/datasets/dt_Fas_Be_Stg_DB_ModelDBv3_ActualValue_fas_stg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Be_Stg_Blob_ModelDB_FcstAvailability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "FcstAvailability.csv",
						"folderPath": "databases/sql_server/jpstgpmsapdb01/ModelDB",
						"container": "rdz"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FiscalYear",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "UnitIdFW",
						"type": "String"
					},
					{
						"name": "Availability",
						"type": "String"
					},
					{
						"name": "AsOfDate",
						"type": "String"
					},
					{
						"name": "HjksCheck",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_ActualSpotPrice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ActualSpotPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_ActualValue')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ActualValue"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_ActualValueHydroRefined')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ActualValueHydroRefined"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_ArcHjksGenOutage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ArcHjksGenOutage"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_BIOMASS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BIOMASS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_CommodityDef')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CommodityDef"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_Conversion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Conversion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_CurveDef')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CurveDef"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_CurveForwardPrices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CurveForwardPrices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_CurveSettlementPrices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ActualPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstAvailability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstAvailability"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstBio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstBio"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstBio_new')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstBio_new"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstDemand')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstDemand"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstDemandAdj')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstDemandAdj"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstGeo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstGeo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstGeo_new')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstGeo_new"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstHydro')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstHydro"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstInterConnection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstInterConnection"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstLoad')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstLoad"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstPV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstPV"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstPV_new')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstPV_new"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstPumpedWater')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstPumpedWater"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstRenewable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstRenewable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FcstWind')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FcstWind"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_ForwardForex')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ForwardForex"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_ForwardPrice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ForwardPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FuelPriceFormula')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FuelPriceFormula"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FwFcstCommodity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FwFcstCommodity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_FwHistCommodity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FwHistCommodity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_GenPlan')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "GenPlan"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_GroupConstraint')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "GroupConstraint"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HistAvailability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HistAvailability"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HistAvailability_old')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HistAvailability_old"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HistInterConnection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HistInterConnection"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HistInterface')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HistInterface"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HistInterfacePlan')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HistInterfacePlan"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HistInterface_old')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HistInterface_old"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HistLoad')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HistLoad"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HistRenewable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HistRenewable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HjksGenOutage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ArcHjksGenOutage"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_HjksMapping')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HjksMapping"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_JepxAreaPrice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "JepxAreaPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_JepxSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "JepxSummary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_JeraHistGeneration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "JeraHistGeneration"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_LTDCalendar')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "LTDCalendar"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_MasterGenV3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MasterGenV3"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_MasterGenV4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MasterGenV4"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_ModelCurveForward')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ModelCurveForward"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_ModelCurveSettlement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ModelCurveSettlement"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_OcctoMapping')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OcctoMapping"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_OcctoUnitGen')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OcctoUnitGen"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_OcctoUnitGenFw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "OcctoUnitGenFw"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_PumpedStorage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PumpedStorage"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_RefJpnArea')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "RefJpnArea"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_RefJpnInterface')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "RefJpnInterface"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_RenewableCapacity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "RenewableCapacity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_UnitsInGroupConstraint')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "UnitsInGroupConstraint"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_sysdiagrams')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "sysdiagrams"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Fas_Stg_DB_ModelDB_test_jay1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_JPSTGPMSAPDB01",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "FiscalYear",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Date",
						"type": "date"
					},
					{
						"name": "UnitIdFW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Availability",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "HjksCheck",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "test_jay1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_JPSTGPMSAPDB01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_ActualSpotPrice_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ActualSpotPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_ActualValueHydroRefined_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ActualValueHydroRefined"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_ActualValue_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ActualValue"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_FcstAvailability_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "FcstAvailability"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_FcstDemand_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "FcstDemand"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_FcstInterConnection_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "FcstInterConnection"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_ForwardForex_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ForwardForex"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_ForwardPrice_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ForwardPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_FwHistCommodity_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "FwHistCommodity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_GenPlan_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "GenPlan"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_HistAvailability_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "HistAvailability"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_HistInterface_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "HistInterface"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_JepxAreaPrice_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "JepxAreaPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_JepxSummary_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "JepxSummary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_MasterGenV4_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "MasterGenV4"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Dev_DB_ModelDB_OcctoUnitGen_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpdevfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "OcctoUnitGen"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpdevfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_ActualSpotPrice_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ActualSpotPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_ActualValueHydroRefined_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ActualValueHydroRefined"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_ActualValue_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ActualValue"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_FcstAvailability_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "FcstAvailability"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_FcstDemand_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "FcstDemand"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_FcstInterConnection_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "FcstInterConnection"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_ForwardForex_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ForwardForex"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_ForwardPrice_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "ForwardPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_FwHistCommodity_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "FwHistCommodity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_GenPlan_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "GenPlan"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_HistAvailability_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "HistAvailability"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_HistInterface_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "HistInterface"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_JepxAreaPrice_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "JepxAreaPrice"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_JepxSummary_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "JepxSummary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_MasterGenV4_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "MasterGenV4"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDB_OcctoUnitGen_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDB",
					"table": "OcctoUnitGen"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_ActualSpotPrice_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "ActualSpotPrice_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_ActualValueHydroRefined_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "ActualValueHydroRefined_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_ActualValue_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "ActualValue_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_ArcHjksGenOutage_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "ArcHjksGenOutage_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_BIOMASS_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "BIOMASS_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_CommodityDef_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "CommodityDef_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_Conversion_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "Conversion_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_CurveDef_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "CurveDef_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_CurveForwardPrices_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "CurveForwardPrices_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_CurveSettlementPrices_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "CurveSettlementPrices_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstAvailability_fas_be_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstAvailability_fas_be_dev"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstAvailability_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstAvailability_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstBio_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstBio_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstBio_new_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstBio_new_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstDemandAdj_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstDemandAdj_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstDemand_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstDemand_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstGeo_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstGeo_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstGeo_new_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstGeo_new_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstHydro_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstHydro_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstInterConnection_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstInterConnection_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstLoad_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstLoad_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstPV_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstPV_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstPV_new_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstPV_new_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstPumpedWater_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstPumpedWater_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstRenewable_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstRenewable_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FcstWind_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FcstWind_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_ForwardForex_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "ForwardForex_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_ForwardPrice_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "ForwardPrice_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FuelPriceFormula_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FuelPriceFormula_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FwFcstCommodity_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FwFcstCommodity_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_FwHistCommodity_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "FwHistCommodity_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_GenPlan_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "GenPlan_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_GroupConstraint_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "GroupConstraint_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HistAvailability_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "HistAvailability_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HistAvailability_old_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "HistAvailability_old_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HistInterConnection_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "HistInterface_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HistInterfacePlan_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "HistInterfacePlan_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HistInterface_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "ActualSpotPrice_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HistInterface_old_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "HistInterface_old_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HistLoad_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "HistLoad_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HistRenewable_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "HistRenewable_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HjksGenOutage_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "HjksGenOutage_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_HjksMapping_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "HjksMapping_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_JepxAreaPrice_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "JepxAreaPrice_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_JepxSummary_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "JepxSummary_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_JeraHistGeneration_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "JeraHistGeneration_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_LTDCalendar_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "LTDCalendar_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_MasterGenV3_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "MasterGenV3_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_MasterGenV4_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "MasterGenV4_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_ModelCurveForward_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "ModelCurveForward_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_ModelCurveSettlement_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "ModelCurveSettlement_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_OcctoMapping_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "OcctoMapping_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_OcctoUnitGenFw_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "OcctoUnitGenFw_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_OcctoUnitGen_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "OcctoUnitGen_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_PumpedStorage_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "PumpedStorage_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_RefJpnArea_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "RefJpnArea_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_RefJpnInterface_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "RefJpnInterface_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_RenewableCapacity_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "RenewableCapacity_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_UnitsInGroupConstraint_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "UnitsInGroupConstraint_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dt_Fas_Be_Stg_DB_ModelDBv3_test_jay1_fas_stg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ln_jpstgfasbedb01_ModelDBv3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo.ModelDBv3",
					"table": "test_jay1_fas_stg"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ln_jpstgfasbedb01_ModelDBv3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JPSTGPMSAPDB01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('JPSTGPMSAPDB01_properties_typeProperties_server')]",
					"database": "[parameters('JPSTGPMSAPDB01_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('JPSTGPMSAPDB01_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('JPSTGPMSAPDB01_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-jpstgpmsapdb01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-jpstgpmsapdb01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ln_AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('ln_AzureBlobStorage1_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				},
				"connectVia": {
					"referenceName": "IR-jpstgpmsapdb01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-jpstgpmsapdb01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ln_JPSTGPMSAPDB01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ln_JPSTGPMSAPDB01_properties_typeProperties_server')]",
					"database": "[parameters('ln_JPSTGPMSAPDB01_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ln_JPSTGPMSAPDB01_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ln_JPSTGPMSAPDB01_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-jpstgpmsapdb01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-jpstgpmsapdb01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ln_jpdevfasbedb01_ModelDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ln_jpdevfasbedb01_ModelDB_properties_typeProperties_server')]",
					"database": "[parameters('ln_jpdevfasbedb01_ModelDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ln_jpdevfasbedb01_ModelDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ln_jpdevfasbedb01_ModelDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ln_jpdevfasbedb01_ModelDBv3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "FAS-BE-DEV location jpdevfasbedb01 SQL server link",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ln_jpdevfasbedb01_ModelDBv3_properties_typeProperties_server')]",
					"database": "[parameters('ln_jpdevfasbedb01_ModelDBv3_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ln_jpdevfasbedb01_ModelDBv3_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ln_jpdevfasbedb01_ModelDBv3_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ln_jpstgfasbedb01_ModelDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "FAS-BE-STG location jpstgfasbedb01 SQL server link to ModelDB Access Full\n",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ln_jpstgfasbedb01_ModelDB_properties_typeProperties_server')]",
					"database": "[parameters('ln_jpstgfasbedb01_ModelDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ln_jpstgfasbedb01_ModelDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ln_jpstgfasbedb01_ModelDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ln_jpstgfasbedb01_ModelDB_ReadOnly')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ln_jpstgfasbedb01_ModelDB_ReadOnly_properties_typeProperties_server')]",
					"database": "[parameters('ln_jpstgfasbedb01_ModelDB_ReadOnly_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ln_jpstgfasbedb01_ModelDB_ReadOnly_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ln_jpstgfasbedb01_ModelDB_ReadOnly_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ln_jpstgfasbedb01_ModelDBv3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "FAS-BE-STG location jpstgfasbedb01 SQL server link to ModelDBv3",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ln_jpstgfasbedb01_ModelDBv3_properties_typeProperties_server')]",
					"database": "[parameters('ln_jpstgfasbedb01_ModelDBv3_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ln_jpstgfasbedb01_ModelDBv3_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ln_jpstgfasbedb01_ModelDBv3_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-jpstgpmsapdb01')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "jpstgpmsapdb01",
				"typeProperties": {
					"selfContainedInteractiveAuthoringEnabled": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/ep_jpstgpmsapdb01')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('ep_jpstgpmsapdb01_properties_privateLinkResourceId')]",
				"groupId": "[parameters('ep_jpstgpmsapdb01_properties_groupId')]",
				"fqdns": "[parameters('ep_jpstgpmsapdb01_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/pl_adf_fasbestgdata01')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('pl_adf_fasbestgdata01_properties_privateLinkResourceId')]",
				"groupId": "[parameters('pl_adf_fasbestgdata01_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		}
	]
}